# R
.Rhistory
.RData
.Ruserdata
*.Rproj.user/

# Data (verwijder regels als data wél gecommit mag worden)
data/processed/

# LaTeX hulpbestanden
paper/*.aux
paper/*.log
paper/*.out
paper/*.toc
paper/*.bbl
paper/*.blg
paper/*.synctex.gz
paper/*.fls
paper/*.fdb_latexmk
.Rproj.user
